.leaderboard-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Monospace', monospace;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.left-side {
    display: flex;
    justify-content: left;
    white-space: nowrap;
    overflow: hidden;
}

.right-side {
    display: flex;
    justify-content: right;
    white-space: nowrap;
    overflow: hidden;
}

.position-route-number {
    color: red;
}

.position-route-number.blue {
    color: #4a9eff;
}